/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  display: inline-block;
  padding: 1.25rem 3rem;
  background: #aaa;
  margin-right: 0.5rem;
  text-align: center;
  font-family: "Gotham", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.1em; }

.button-purchase {
  background: white;
  width: 50%;
  border: 2px solid white;
  -webkit-transition: 200ms all ease-out;
  -moz-transition: 200ms all ease-out;
  transition: 200ms all ease-out; }
  .button-purchase:hover {
    background: rgba(255, 255, 255, 0.75);
    color: #333; }

.button-hollow {
  border: 2px solid black;
  background: transparent;
  padding: 1.25rem 1.5rem;
  -webkit-transition: 200ms all ease-out;
  -moz-transition: 200ms all ease-out;
  transition: 200ms all ease-out; }
  .button-hollow:hover {
    background: rgba(0, 0, 0, 0.07);
    color: #222; }

.nav a {
  font-family: "Gotham", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.project-caption {
  font-family: "Gotham", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.68rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 2em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  line-height: 1.2;
  padding-bottom: 0rem;
  display: table;
  margin-bottom: 2rem; }

h2 {
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 1.5em; }

h3 {
  font-family: "Gotham", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.68em; }
  h3.subhead {
    margin-bottom: 1.5rem; }

p {
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

p a {
  border-bottom: 1px solid #b9b9b9;
  -webkit-transition: 200ms border-bottom ease-out;
  -moz-transition: 200ms border-bottom ease-out;
  transition: 200ms border-bottom ease-out; }
  p a:hover {
    border-bottom: 1px solid #888888; }

.project-caption {
  color: #888888; }

body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-family: Sans-Serif;
  -webkit-tap-highlight-color: black;
  background: white;
  color: black; }

::selection {
  background: #777;
  color: white; }

::-moz-selection {
  background: #777;
  color: white; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

.clearfix {
  display: block; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

strong {
  font-weight: 700;
  font-family: "Gotham", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: black; }

.center {
  text-align: center; }

.noborder {
  border: 0 !important; }

.hide-text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden; }

.avatar {
  display: block;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0 1rem; }

header, section, footer {
  width: 100%;
  height: auto; }

.wrapper {
  *zoom: 1;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 2rem 2rem; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.block-half {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 47.58547%; }
  .block-half:last-child {
    margin-right: 0; }

.block-third {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 30.11397%; }
  .block-third:last-child {
    margin-right: 0; }

.block-fourth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 21.37821%; }
  .block-fourth:last-child {
    margin-right: 0; }

.block-fifth {
  float: left;
  display: block;
  margin-right: 4.82905%;
  width: 16.13676%; }
  .block-fifth:last-child {
    margin-right: 0; }

.logo {
  display: block;
  background: url("../img/logo_k.png") no-repeat top left;
  width: 14rem;
  height: 2.625rem;
  background-size: 100%;
  float: left; }

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  background: transparent; }
  .top-nav.pre-fixed {
    opacity: 0;
    background: white;
    position: fixed;
    pointer-events: none; }
    .top-nav.pre-fixed .wrapper {
      padding: 0.5rem 2rem; }
  .top-nav.addtransitions {
    -webkit-transition: 200ms opacity ease-out;
    -moz-transition: 200ms opacity ease-out;
    transition: 200ms opacity ease-out; }
  .top-nav.fixed {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: 400ms opacity ease-out;
    -moz-transition: 400ms opacity ease-out;
    transition: 400ms opacity ease-out; }

.nav {
  float: right; }

.nav a {
  display: inline-block;
  padding: 0.6rem 1.5rem 0.45rem;
  border: 2px solid transparent;
  margin-right: -2px;
  height: 2.625rem;
  -webkit-transition: 200ms all ease-out;
  -moz-transition: 200ms all ease-out;
  transition: 200ms all ease-out; }
  .nav a:last-child {
    margin-right: 0; }
  .nav a.current {
    border: 2px solid #dddddd; }
  .nav a:hover {
    border: 2px solid black; }
  .nav a:active {
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.07);
    color: black; }

.top-photo {
  width: 95%;
  margin: 0 auto;
  background: #ddd;
  height: 100%;
  position: relative;
  display: table; }

.project-hero {
  margin-right: 0;
  margin-top: 35%;
  float: right; }

.project-hero h1 {
  margin-bottom: 2rem;
  line-height: 1.7;
  padding-bottom: 0.2rem;
  display: inline; }
  .project-hero h1:after {
    content: " ";
    display: block;
    height: 1.5rem;
    width: 100%; }

.buttons {
  margin-top: 2rem; }

.right-grid-headline {
  margin-left: 52.41453%; }

.sub-info {
  margin-left: 17.47151%; }

.person {
  margin: 0 0 3rem;
  padding: 0 0 0 4.5rem;
  position: relative; }
  .person h3 {
    margin: 0.5rem 0 0.75rem; }
  .person .avatar {
    position: absolute;
    left: 0; }
  .person p {
    font-size: 0.875em; }

.section-posters {
  background: #f9f9f9;
  position: relative; }
  .section-posters .wrapper {
    height: 44rem; }

.posters {
  position: absolute;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  left: 0;
  padding: 0 2.5% 2.5rem; }

.posters li {
  display: inline-block;
  height: 32rem;
  width: 21.33rem;
  margin-right: 0.5rem; }

.exhibition-images img {
  margin-bottom: 1.5rem; }
.exhibition-images .project-caption {
  margin-top: -1rem; }
