@import "partials/_reset";
@import "bourbon";
@import "neat/neat";
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/_styleguide";
@import "partials/_base";


// Structure

header, section, footer {
  width: 100%;
  height: auto;
}

.wrapper {
  @include outer-container;
  width: 90%;
  padding: 3rem 2rem;
}

.block-half {
  @include span-columns(6 of 12);
}

.block-third {
  @include span-columns(4 of 12);
}

.block-fourth {
  @include span-columns(3 of 12);
}

.block-fifth {
  @include span-columns(2.4 of 12);
}

.logo {
  display: block;
  background: url('../img/logo_k.png') no-repeat top left;
  width: 14rem;
  height: 2.625rem;
  background-size: 100%;
  float: left;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  background: transparent;
  .wrapper {
    padding: 2rem 2rem;
  }
  &.pre-fixed {
    opacity: 0;
    background: white;
    position: fixed;
    pointer-events: none;
    @include transform(translateY(-15%));
    .wrapper {
      padding: 0.5rem 2rem;
      @include transition(0s all linear 0s);
    }
  }
  &.addtransitions {
    @include transition($hover-speed all ease-out);
  }
  &.fixed {
    opacity: 1;
    pointer-events: auto;
    @include transition($short-transition all ease-out);
    @include transform(rotateX(0deg) translateY(0));
  }
}

.nav {
  float: right;
}

.nav a {
  @extend %nav-gotham;
  display: inline-block;
  padding: 0.6rem 1.5rem 0.45rem;
  border: 2px solid transparent;
  margin-right: -2px;
  height: 2.625rem;
  @include transition ($hover-speed all ease-out);
  &:last-child {
    margin-right: 0;
  }
  &.current {
    border: 2px solid $gray-superlight;
  }
  &:hover {
    border: 2px solid black;
  }
  &:active {
    border: 2px solid black;
    background: rgba(0,0,0,0.07);
    color: black;
  }
}


.top-photo {
  width: 95%;
  margin:0 auto;
  background: url('../img/hero.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  display: table;
}

.project-hero {
  margin-right: 0;
  margin-top: 30%;
  float: right;
}

.project-hero h1 {
  margin-bottom: 2rem;
  line-height: 1.7;
  padding-bottom: 0.2rem;
  display:inline;
  &:after {
    content: " ";
    display: block;
    height: 1.5rem;
    width: 100%;
  }
}

.buttons {
  margin-top: 2rem;
}

// Participants

.right-grid-headline {
  @include shift(6);
}

.story {
}

.sub-info {
  @include shift(2);
}

.person {
  margin: 0 0 3rem;
  padding: 0 0 0 4.5rem;
  position: relative;
  h3 {
    margin: 0.5rem 0 0.75rem;
  }
   .avatar {
    position: absolute;
    left: 0;
  }
  p {
    font-size: 0.875em;
  }
}

// Posters 

.section-posters {
  background: #f9f9f9;
  position: relative;
  .wrapper {
    height: 44rem;
  }
}

.posters {
  position: absolute;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  left: 0;
  top: 0;
  padding: 7rem 2.5% 4.9rem;
}

.posters li {
  display: inline-block;
  height: 32rem;
  width: 21.33rem;
  margin-right: 0.5rem;
  img {
  }
}

// Exhibition

.exhibition-images {
  img {
    margin-bottom: 1.5rem;
  }
  .project-caption {
     margin-top: -1rem;
  }
}

// Footer

footer {
  .wrapper {
    &:before {
      content: " ";
      display: block;
      height: 0;
      width: 100%;
      border-top: 1px solid $gray-superlight;
    }
  }
}

.footer-links {
  text-align: center;
}

.footer-link {
  @extend %thin-gotham;
  font-size: 0.6em;
  color: $gray-lightest;
  display: inline-block;
  margin: 2rem 2% 3rem 0;
  &:last-child {
    margin: 0;
  }
}

a.footer-link {
  @include transition($hover-speed color ease-out);
  &:hover {
    color: black;
  }
}