// Mixins

@mixin aa-text {
  -webkit-font-smoothing: antialiased;
}

@mixin no-aa-text {
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin hide-text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
}