
.button {
  display: inline-block;
	padding: 1.25rem 3rem;
	background: #aaa;
	margin-right: 0.5rem;
	text-align: center;
	font-family: $sans;
	text-transform: uppercase;
	font-weight: $bold;
  cursor: pointer;
	font-size: 0.7em;
	@extend %aa-text;
	letter-spacing: 0.1em;
}

.button-purchase {
	background: white;
	width: 100%;
	border: 2px solid white;
	@include transition($hover-speed all ease-out);
	&:hover {
		background: rgba(255,255,255,0.75);
		color: #333;
	}
}

.button-hollow {
	border: 2px solid black;
	background: transparent;
	padding: 1.25rem 1.5rem;
	@include transition($hover-speed all ease-out);
	&:hover {
	background: rgba(0,0,0,0.07);
	color: #222;
	}
}

%nav-gotham {
	font-family: $sans;
	font-weight: $bold;
	font-size: 0.75rem;
	text-transform: uppercase;
  letter-spacing: 1px;
}

%thin-gotham {
  font-family: $sans;
  font-weight: $book;
  font-size: 0.68rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link-twitter {
  background: url(../img/twitter.svg) no-repeat center center;
}

.link-website {
  background: url(../img/website.svg) no-repeat center center;
}


h1 {
  font-family: $serif;
  font-size: 2em;
  border-bottom: 2px solid $gray-lighter-opacity;
  line-height: 1.2;
  padding-bottom: 0rem;
  display: table;
  margin-bottom: 2rem;
}

h2 {
  font-family: $serif;
  font-size: 1.5em;
}

h3 {
  font-family: $sans;
  font-weight: $bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.68em;
  @extend %aa-text;
  &.subhead {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

p {
  font-family: $serif;
  font-weight: $book;
  font-size: 1.1em;
  line-height: 1.7;
  @include aa-text;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  &:last-child {
    margin-bottom: 0;
  }
  &.p-small {
    font-size: 0.875em;
  }
}

p a {
  border-bottom: 1.1px solid $gray-superlight;
  @include transition($hover-speed border-bottom ease-out);
  &:hover {
    border-bottom: 1px solid $gray-light;
  }
}

.project-caption {
 @extend %thin-gotham;
 color: $gray-light;
}