// Type Styles

$sans: "Gotham", 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: "Adobe Caslon Pro", Georgia, serif;

$bold: 700;
$medium: 600;
$book: 400;
$light: 200;

// Colors

$gray-lightest: #b9b9b9;
$gray-light: #888888;

// Speeds

$hover-speed: 200ms;
$short-transition: 400ms;
$long-transition: 800ms;