// Type Styles

$sans: "Gotham SSm", "Gotham", 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: "Adobe Caslon Pro", Georgia, serif;

$bold: 700;
$medium: 600;
$book: 400;
$light: 200;

// Colors

$gray-offwhite-opacity: rgba(249,249,249,0.85);
$gray-offwhite: #f9f9f9;
$gray-superlight: #ddd;
$gray-lightest: #b9b9b9;
$gray-lighter: #aaaaaa;
$gray-lighter-opacity: rgba(0,0,0,0.35);
$gray-light: #888888;

// Speeds

$hover-speed: 200ms;
$short-transition: 400ms;
$long-transition: 800ms;